
.profile-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full width */
  padding-top: 44px; /* Moves card down slightly while staying near the top */
}

.upc {
  width: 500px;
  margin-left: -105px;
  border-radius: 0 75px 75px 0;
  padding-bottom: 50px;
  background: white;
  box-shadow: 0 25px 1px rgba(0, 0, 0, 0.1);
  position: left;
}

.gradiant {
  background-image: linear-gradient(#eca026, rgb(222, 210, 198));
  height: 125px;
  position: relative;
  z-index: 1; /* Keeps it behind */
  border-radius: 0 75px;
}

.profile-down {
  background: white;
  border-radius: 0 75px 75px; /* Rounded top corners */
  padding: 20px;
  text-align: center;
  position: relative; /* Allows it to overlap */
  margin-top: -77px; /* Moves it upwards over the gradient */
  z-index: 2; /* Ensures it stays above the gradient */
}

.profile-down img {
  display: block;
  margin: auto;
  height: 125px;
  border-radius: 30px;
  /* padding: 5px; */
  background: white;
}

.profile-title {
  font-size: 36px;
  font-weight: 600;
  z-index: 1000;
  color: black;
}

.profile-description {
  padding: 20px 40px;
  font-size: 16px;
  color: black;
}

.profile-buttons-container {
  display: flex;
  justify-content: center; 
  padding: auto; 
  margin: auto;
  gap: 10px;
}

.profile-button {
  font-size: 16px;
  background: #2a4fb7;
  color: white;
  border-radius: 75px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  }

.profile-button:hover {
  background: goldenrod !important;
}

.profile-button a {
  text-decoration: none;
  color: white;
}

/* Center the Wallet component */
.wallet-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Moves content towards the top */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  padding-top: 50px; /* Moves the component slightly down */
}

/* Style for no cards message */
.no-cards-box {
  padding: 15px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* Button styling */
.add-card-button,
.profile-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-card-button {
  background-color: #28a745;
}

.add-card-button:hover,
.profile-button:hover {
  background-color: #0056b3;
}
